body {
    margin: 0;
    font-family: 'Ubuntu Condensed', sans-serif;
}

.announcments {
   background-color: red;
text-align: center;
font-family: 'Ubuntu Condensed', sans-serif;
padding: 5px 0;
margin-bottom: 10px;
}

.header-column {
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 50%;
}
.top-heading {
   font-size: xx-large;
   margin-bottom: 10px;
}

.bottom-heading {
   display: flex;
   justify-content: space-between;
width: 75%;
}

.header {
   display: flex;
   justify-content: center;
   font-family: 'Ubuntu Condesed', sans-serif;
}

.header img {
   width: 250px;
   position: absolute;
   left: 0;
}

.ntitle {
   font-size: xx-large;
}