body {
    margin: 0;
    font-family: 'Ubuntu Condensed', sans-serif;
}

.announcments {
   background-color: red;
text-align: center;
font-family: 'Ubuntu Condensed', sans-serif;
padding: 5px 0;

}


.header-column {
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 60%;
   /* position:fixed;  */
   padding-top: 15px;
}
.top-heading {
   font-size: 60px;
   margin-bottom: 35px;
   font-family:Verdana, Geneva, Tahoma, sans-serif
}

.bottom-heading {
   display: flex;
   justify-content: space-between;
width: 75%;
align-items: center;
}

.pill-link {
   background-color: turquoise;
   border-radius: 20px;
   padding: 5px;
}

.header {
   display: flex;
   justify-content: center;
   font-family: 'Ubuntu Condesed', sans-serif;
   background-image: url(./assets/EA\ Exterior.jpg);
   height: 150px;
   background-position: center;
   background-size: cover;
}

.header img {
   width: 250px;
   position: absolute;
   left: 0;
   top: -.5px;
   z-index: -1;
}

.ntitle {
   font-size: xx-large;
}

main {
   display: flex;
   justify-content: center;
   padding: 550px;
}

.sticky {
   position: fixed;
   top: 0;
   width: 100%;
}

a {
text-decoration: none;
color: unset;
}